* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    padding: 1em 0;
    text-align: center;
}

table {
    border-collapse: collapse;
}

/* Layout  */

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 4em;
    width: 100%;
}

/* Estilo Marvel table */
.marvel-container {
    display: flex;
    align-self: center;
    justify-self: center;
}

.marvel-container-main {
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 30px;
    padding-bottom: 20px;
    height: 100vh;
}

.marvel-container-main:nth-child(1) {
    background: #001A35;
}

.marvel-container-main:nth-child(2) {
    background: #202020;
}

#marvel-bg {
    background: url(./resources/marvel/marvel.jpeg);
    background-size: cover;
    background-position: right 35% bottom 80%;
    mask-image: linear-gradient(#001A35 70%, transparent);

    h2 {
        font-size: 2em;
        text-shadow: 2px 5px 5px #333;
        color: #eee;
    }
}

.table-marvel-row>td {
    padding: 5px 30px;
    text-align: center;
}

#table-marvel-header>th {
    background: linear-gradient(#043c70 0%, #0A7CC3 70%);
    color: #fff;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:nth-child(odd) {
    background-color: #eee;
}

.icon-marvel {
    width: 64px;
}

/* Estilo Chess table */
#chess-bg {
    background: url(./resources/chess/ajedrez.jpg);
    background-size: cover;
    background-position: right 35% bottom 65%;
    mask-image: linear-gradient(black 70%, transparent);

    h2 {
        font-size: 2em;
        text-shadow: 2px 5px 5px #333;
        color: #eee;
    }
}

.chess-container {
    display: flex;
    align-self: center;
    justify-self: center;
}

.black-box {
    width: 90px;
    height: 90px;
    background: #333;
}

.white-box {
    width: 90px;
    height: 90px;
    background: #b2b2b2;
}

.image-piece {
    width: 90px;
}