:root {
    --main-red: #AA4445;
    --second-red: #FF6668;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--second-red);

}

#menu-container {
    /*background-color: var(--main-red);*/
    background: linear-gradient(#AA4445 35%, #FF6668);
    position: fixed;
    width: 100%;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

nav {
    display: flex;
}

#menu-container a {
    text-decoration: none;
    font-size: 1.1em;
}

ul {
    list-style: none;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.container {
    position: absolute;
    margin-top: 4em;
    padding: 2em;
}

#profile-picture {
    width: 200px;
    border-radius: 50%;
}
.main-info{
    display: grid;
    grid-area: 'profile title'
    'profile subtitle';
}